{
  "rules": {
    "no-console": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "no-underscore-dangle": "off",
    "no-useless-constructor": "off",
    "no-empty-function": "off",
    "import/no-cycle": "off"
  }
}
